Flask
gunicorn
alembic
Flask-Migrate
Flask-SQLAlchemy
psycopg2
flask-restx
Flask-Script
Flask-Login
python-dotenv
werkzeug
Flask-JWT
Flask-CORS
Flask-Marshmallow
marshmallow-sqlalchemy
marshmallow
cryptography
celery[redis]
